*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */;

}

body {
    background-image: url(../Multimedia/ATfondo.jpg);
    background-position: center;
    background-size: cover;
}
.carousel-inner img{
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;

}

.logoat {
    height: 150px !important;
    width: 150px !important;
    position: relative;
    border-radius: 5px;
}

.lavi {
    text-shadow: 0 0 10px #000;
    font-style: italic;
}

.navbar {
    background-color: green;
    color: black;
}

.navbar a {
    color: white !important;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: rgb(8, 95, 51);
}

.navbar-brand:hover {
    background-color: green !important;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: springgreen;
    margin-top: 5px;
    font-size: 25px;
    color: white;
    background-color: green;
}

.btn-success {
    background-color: springgreen;
}

.btn-success:active {
    background-color: #000 !important;
}

.nleft {
    background-color: #333;
    height: 450px;
    background-image: url(../Multimedia/Portada\ AT.PNG);
    background-position: center;
    background-size: cover;
    margin: 20px;
    margin-right: 40px;
    margin-left: 30px;
}
.nright {
    background-color: rgb(24, 61, 155);
    height: 450px;
    padding: 30px;
    margin: 20px;
    color: white;
}

.nleft:hover { 
    transform: scale(1.05);
    transition: all 0.5s;
}

.actividades {
    background-color: pink;
    color: white;
    height: auto;
}

.servicios .ser {
}

.galeriaservicios{
    display: grid;
    height: 642px;
    width: 100%;
    background-color: gray;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px 0% ;
    box-sizing: border-box;
    grid-template-areas: 
    "futbol" 
    "tenis"
    "natacion" 
    "training"
    "texto";
}

.futbol{
    grid-area: futbol;
    height: 100px;
    border: 2px solid #000;
    border-radius: 20px;
    background-image: url(../multimedia/Futbol.jpeg);
    background-position: center;
}

.futbol:hover { 
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;
}

.tenis{
    grid-area: tenis;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #000;
    background-image: url(../Multimedia/Tenis.jpg);
    background-position: center;
    box-shadow: 0 0 5px #333;
}

.tenis:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;

}

.natacion{
    grid-area: natacion;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #000;
    background-image: url(../Multimedia/Natacion.jpeg);
    background-position: center;
}

.natacion:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;

}

.training{
    grid-area: training;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #000;
    background-image: url(../Multimedia/Training.jpeg);
    background-position: center;
}

.training:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;

}

.texto {
    grid-area: texto;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, green 50%, gainsboro 50%);
    border-radius: 15px;
}

.texto a{
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: green;
    background-color: gainsboro;
    border-radius: 15px;
    text-decoration: none;

}

.texto:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}

.fondocontact {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.consulta {
    grid-area: consulta;
    width: 100%;
    margin-bottom: 10px;
}

.contacto {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.trabajanosotros{
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.findo{
    display: grid;
    margin-top: 10px;
    background-color: rgb(24, 61, 155);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    margin-top: 10px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    line-height: 2;
    grid-template-areas: 
    "acercade ayuda redes";
    
}

.acercade div a{
    grid-area: acercade;
    color: white;
}

.ayuda{
    padding-left: 90px;
    grid-area: ayuda;
}
.ayuda div a{
    color: white;
}

.redes{
    display: grid; 
    grid-template-columns: 70px 70px; 
    grid-template-rows: 50px 50px 50px; 
    gap: 0px 0px; 
    justify-content: center;
    grid-template-areas:
    "facebook instagram whatsapp"
    "email email email";
    grid-area: redes;
}

.facebook{
    grid-area: facebook;
}

.instagram{
    grid-area: instagram;
    color: white;
}

.whatsapp{
    grid-area: whatsapp;
}
.email{
    grid-area: email;

}

footer a img {
    margin-left: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 360px) {
.lavi{
    display: none;
}
.acercade{
display: none;
}

.ayuda {
    display: none;
}

.email {
    display: none;
}

.findo {
    height: 60px;
}
}
@media only screen and (min-width: 360px) and (max-width: 600px) {

header{
    width: 100%;
}

.lavi{
    display: none;
}

.acercade{
    display: none;
    }
    
.ayuda {
    display: none;
}

.email {
    display: none;
}

.redes{
    width: 100%;
    padding: auto;
}

}

@media only screen and (min-width: 500px) {

.galeriaservicios {
    grid-template-columns: 40% 20% 40% ;
    grid-template-rows: 40% 20% 40%;
    gap: 0% 0%;
    padding: 20px;
    grid-template-areas: 
    "futbol . tenis"
    "texto texto texto"
    "natacion . training";
    }
    
.futbol {
    height: 200px;
}

.tenis {
    height: 200px;
}

.natacion {
    height: 200px;
}

.training {
    height: 200px;
}

.texto {
    margin-bottom: 40px;
    margin-top: 5px;
    /* transform: scale(1.1); */
}
.texto a{
    font-size: 50px;
    height: 50px;
}

footer {
    width: 100%;
}
}

@media only screen and (min-width: 600px) {

header {
    height: 220px;
    width: 100%;
    background-image: url(../multimedia/ATfondo.jpg);
    background-position: center;
    background-attachment: fixed;
    }
    
.somos {
    margin: 20px;
    font-size: 10,5px;
    }
    
    
.logo {
    height: 150px;
    width: 150px;
    margin-top: 40px;
    }
    
}

.lavi { 
    font-size: 25px;
}

.fondocontact{

}

@media only screen and (min-width: 750px) {
.portada {
    height: 250px;
    width: 400px;
}

.lavi { 
    font-size: 30px;
}
.somos {
    font-size: 13px;
}

.findo {
    width: 100%;
}
}
