@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

body {
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#183d9b), color-stop(gray), to(#183d9b));
  background-image: linear-gradient(#183d9b, gray, #183d9b);
  position: relative;
  width: 100%;
  background-repeat: initial;
  background-size: contain;
}

header .carousel-inner img {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

header .logoat {
  height: 150px !important;
  width: 150px !important;
  position: relative;
  border-radius: 5px;
}

header .lavi {
  text-shadow: 0 0 10px #000;
  font-style: italic;
}

.navbar {
  background-color: #326b32;
  color: black;
}

.navbar a {
  color: white !important;
  text-transform: uppercase;
}

.navbar a:hover {
  background-color: #085f33;
}

.navbar-brand:hover {
  background-color: #326b32 !important;
}

main {
  height: auto;
}

main .titulo1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 25px;
  color: white;
  background-color: #326b32;
}

main .conte {
  height: 450px;
  width: 100%;
}

main .conte section {
  position: relative;
  height: 300px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 7px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

main .conte section img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .conte section .nleft {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  background: rgba(12, 103, 123, 0.7);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

main .conte section:hover > .nleft {
  opacity: 1;
  visibility: visible;
}

main .actividades {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

main .act--colo1 {
  color: white;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 15px;
  background-color: #5eac6d;
  border-radius: 5px;
}

main .act--colo2 {
  color: white;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 15px;
  background-color: #367145;
  border-radius: 5px;
}

main .act--colo3 {
  color: white;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 15px;
  background-color: #5eac6d;
  border-radius: 5px;
}

main .act--colo4 {
  color: white;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 15px;
  background-color: #367145;
  border-radius: 5px;
}

main .titulosn, main .titulosnosotros, main .titulosnosotros1, main .titulosnosotros2 {
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
  height: 40px;
  font-size: 30px;
  border-radius: 7px;
  border: 5px solid white;
}

main .titulosnosotros {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(gray), to(#183d9b));
  background-image: linear-gradient(to top, white, gray, #183d9b);
}

main .titulosnosotros:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .nosotros-fila .card {
  width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

main .nosotros-fila .card .card-img-top {
  height: 300px;
  width: 250px;
  border: 5px solid white;
}

main .nosotros-fila .card .card-img-top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .titulosnosotros1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(gray), to(#326b32));
  background-image: linear-gradient(to top, white, gray, #326b32);
}

main .titulosnosotros1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .titulosnosotros2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(gray), to(orange));
  background-image: linear-gradient(to top, white, gray, orange);
}

main .titulosnosotros2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .galeriaservicios {
  display: -ms-grid;
  display: grid;
  height: 900px;
  width: 100%;
  padding: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 120px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
      grid-template-areas: "futbol" 
  "tenis"
  "natacion" 
  "training"
  "texto";
}

main .galeriaservicios .imgservicios, main .galeriaservicios .futbol, main .galeriaservicios .tenis, main .galeriaservicios .natacion, main .galeriaservicios .training {
  position: relative;
  background-position: center;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .galeriaservicios .imgservicios img, main .galeriaservicios .futbol img, main .galeriaservicios .tenis img, main .galeriaservicios .natacion img, main .galeriaservicios .training img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .galeriaservicios .futbol {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: futbol;
  height: 150px;
  border: 2px solid #000;
  border-radius: 20px;
}

main .galeriaservicios .futbol a .servi {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  top: 0%;
  padding-top: 5%;
  background: rgba(12, 103, 123, 0.7);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

main .galeriaservicios .futbol:hover > a .servi {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

main .galeriaservicios .tenis {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tenis;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #000;
}

main .galeriaservicios .tenis a .servi {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  top: 0%;
  padding-top: 5%;
  background: rgba(193, 243, 185, 0.7);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

main .galeriaservicios .tenis:hover > a .servi {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

main .galeriaservicios .natacion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: natacion;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #000;
}

main .galeriaservicios .natacion a .servi {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  top: 0%;
  padding-top: 5%;
  background: rgba(232, 244, 105, 0.7);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

main .galeriaservicios .natacion:hover > a .servi {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

main .galeriaservicios .training {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: training;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #000;
}

main .galeriaservicios .training a .servi {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  top: 0%;
  padding-top: 5%;
  background: rgba(244, 105, 105, 0.7);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

main .galeriaservicios .training:hover > a .servi {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

main .galeriaservicios .texto {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: texto;
  width: 100%;
  height: 55px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#326b32), color-stop(gray), to(white));
  background-image: linear-gradient(to right, #326b32, gray, white);
  border-radius: 15px;
}

main .galeriaservicios .texto a {
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: #326b32;
  background-color: gainsboro;
  border-radius: 15px;
  text-decoration: none;
}

main .galeriaservicios .texto:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .crtbarrios, main .barrios .altos, main .barrios .riberas, main .barrios .solares, main .barrios .docta, main .barrios .sietesoles, main .barrios .patagonia, main .barrios .bosque, main .barrios .livette, main .barrios .cañuelas, main .barrios .delicias, main .barrios .prados, main .barrios .cuesta {
  height: 200px;
  width: 100%;
  border: 5px solid #326b32;
  border-radius: 10px;
  background-position: center;
}

main .crtbarrios img, main .barrios .altos img, main .barrios .riberas img, main .barrios .solares img, main .barrios .docta img, main .barrios .sietesoles img, main .barrios .patagonia img, main .barrios .bosque img, main .barrios .livette img, main .barrios .cañuelas img, main .barrios .delicias img, main .barrios .prados img, main .barrios .cuesta img {
  height: 100%;
  width: 100%;
}

main .barrios {
  display: -ms-grid;
  display: grid;
  height: 1450px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  gap: 3% 10%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "altos" "riberas" 
  "solares" "docta" 
  "sietesoles" "patagonia" 
  "bosque" "livette" 
  "cañuelas" "delicias"
  "prados" "cuesta";
}

main .barrios .hover, main .barrios .altos:hover, main .barrios .riberas:hover, main .barrios .solares:hover, main .barrios .docta:hover, main .barrios .sietesoles:hover, main .barrios .patagonia:hover, main .barrios .bosque:hover, main .barrios .livette:hover, main .barrios .cañuelas:hover, main .barrios .delicias:hover, main .barrios .prados:hover, main .barrios .cuesta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

main .barrios .altos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: altos;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .barrios .riberas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: riberas;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main .barrios .solares {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: solares;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

main .barrios .docta {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: docta;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main .barrios .sietesoles {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: sietesoles;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

main .barrios .patagonia {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: patagonia;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

main .barrios .bosque {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: bosque;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

main .barrios .livette {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: livette;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

main .barrios .cañuelas {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: cañuelas;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

main .barrios .delicias {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: delicias;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

main .barrios .prados {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: prados;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

main .barrios .cuesta {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  grid-area: cuesta;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

main .mapa {
  width: 100%;
  padding: 20px;
  border: 3px solid #326b32;
}

main .fondocontact {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

main .consulta {
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(gray), to(#326b32));
  background-image: linear-gradient(to top, white, gray, #326b32);
}

main .trabajanosotros {
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(gray), to(#326b32));
  background-image: linear-gradient(to top, white, gray, #326b32);
}

footer .foter {
  height: 200px;
  width: auto;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  line-height: 2;
}

footer .foter .acercade div a {
  color: white;
}

footer .foter .ayuda {
  padding-left: 90px;
}

footer .foter .ayuda div a {
  color: white;
}

footer .foter .redes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 70px;
      grid-template-columns: 70px 70px;
  -ms-grid-rows: 50px 50px 50px;
      grid-template-rows: 50px 50px 50px;
  gap: 0px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "facebook instagram whatsapp"
  "email email email";
}

footer .foter .redes .facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: facebook;
}

footer .foter .redes .instagram {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: instagram;
}

footer .foter .redes .whatsapp {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: whatsapp;
}

footer .foter .redes .email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: email;
}

footer .foter .redes .email a {
  color: white;
}

footer .foter .redes footer a img {
  margin-left: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 360px) {
  header .carousel-inner img {
    height: 150px;
  }
  header .logoat {
    height: 100px !important;
    width: 100px !important;
  }
  header .lavi {
    display: none;
  }
  .navbar {
    height: 150px;
  }
  main .titulo1 {
    font-size: 20px;
  }
  main .conte {
    height: 350px;
  }
  main .conte section {
    height: 300px !important;
    width: 340px !important;
    margin-top: 0px !important;
  }
  main .conte section .nleft h3 {
    padding-top: 20px;
  }
  main .act--colo1 h3, main .act--colo2 h3, main .act--colo3 h3, main .act--colo4 h3 {
    font-size: 20px;
  }
  main .act--colo1 p, main .act--colo2 p, main .act--colo3 p, main .act--colo4 p {
    font-size: 15px;
  }
  main .btn {
    height: 35px;
    width: 100px;
  }
  main .losnosotros1 {
    height: auto;
  }
  footer .acercade {
    display: none;
  }
  footer .ayuda {
    display: none;
  }
  footer .foter {
    height: 100px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
  header {
    width: 100%;
  }
  header .carousel-inner img {
    height: 200px;
  }
  header .logoat {
    height: 120px !important;
    width: 120px !important;
  }
  header .lavi {
    display: none;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .conte {
    height: 350px;
  }
  main .conte section {
    height: 300px !important;
    width: 90% !important;
    margin-top: 0px !important;
  }
  main .conte section .nleft h3 {
    padding-top: 40px;
  }
  main .act--colo1 h3, main .act--colo2 h3, main .act--colo3 h3, main .act--colo4 h3 {
    font-size: 20px;
  }
  main .act--colo1 p, main .act--colo2 p, main .act--colo3 p, main .act--colo4 p {
    font-size: 15px;
  }
  main .btn {
    height: 35px;
    width: 100px;
  }
  main .titulosnosotros1 {
    height: auto;
  }
  footer .acercade {
    display: none;
  }
  footer .ayuda {
    display: none;
  }
  footer .redes {
    width: 100%;
    padding: auto;
  }
}

@media only screen and (min-width: 500px) {
  main .galeriaservicios {
    -ms-grid-columns: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
    -ms-grid-rows: 45% 10% 45%;
        grid-template-rows: 45% 10% 45%;
    gap: 0% 0%;
    padding: 10px;
        grid-template-areas: "futbol . tenis"
  "texto texto texto"
  "natacion . training";
  }
  main .galeriaservicios .futbol {
    height: 300px;
  }
  main .galeriaservicios .tenis {
    height: 300px;
  }
  main .galeriaservicios .natacion {
    margin-top: 80px;
    height: 300px;
  }
  main .galeriaservicios .training {
    margin-top: 80px;
    height: 300px;
  }
  main .galeriaservicios .texto {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 70px;
  }
  main .galeriaservicios .texto a {
    font-size: 50px;
    height: 50px;
  }
  main .galeriaservicios footer {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  footer .acercade {
    font-size: 13px;
  }
  footer .ayuda {
    font-size: 13px;
  }
  footer .email {
    font-size: 13px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 600px) {
  header {
    width: 100%;
    background-image: url(../Multimedia/integrantesat.jpg);
    background-position: center;
    background-attachment: fixed;
  }
  header .lavi {
    font-size: 25px;
  }
  main .conte section {
    height: 450px !important;
    width: 90% !important;
  }
  main .conte section .nleft h3 {
    padding-top: 80px;
  }
  main .card {
    margin: 10px;
    height: 470px;
  }
  main .card .card-img-top {
    height: 300px;
    border: 5px solid white;
  }
  main .barrios {
    height: 950px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "altos" "solares" "riberas"
  "docta" "sietesoles" "patagonia"
  "bosque" "livette" "cañuelas"
  "delicias" "prados" "cuesta";
  }
  main .barrios .altos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .solares {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .riberas {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .docta {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .sietesoles {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .patagonia {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .bosque {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main .barrios .livette {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main .barrios .cañuelas {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main .barrios .delicias {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main .barrios .prados {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main .barrios .cuesta {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media only screen and (min-width: 1000px) {
  main .conte {
    margin-left: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
  main .conte .nleft {
    background-position: center;
    height: 400px;
    width: 700px;
    padding: 20px;
    padding-top: 100px;
    font-size: 20px;
  }
  main .barrios {
    height: 750px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "altos" "solares" "riberas" "docta" 
  "sietesoles" "patagonia" "bosque" "livette"
  "cañuelas" "delicias" "prados" "cuesta";
  }
  main .barrios .altos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .solares {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .riberas {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .docta {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main .barrios .sietesoles {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .patagonia {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .bosque {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .livette {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .barrios .cañuelas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main .barrios .delicias {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main .barrios .prados {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main .barrios .cuesta {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}
/*# sourceMappingURL=estilos.css.map */