$color1: rgb(50, 107, 50);
$color2: rgb(24, 61, 155);
$color3: gray;
$color4: white;
$color5: pink;
$color6: orange;

$ancho1: 100%;
$ancho2: 100px;
$ancho3: 150px;
$ancho4: 250px;
$largo1: 100%;
$largo2: 40px;
$largo3: 50px;
$largo4: 100px;
$largo5: 150px;
$largo6: 200px;
$largo7: 300px;
$largo8: 400px;
$largo9: 450px;



*{
    margin: 0%;
    padding: 0%;
}

body {
    height: auto;
    background-image: linear-gradient($color2, $color3, $color2);
    position: relative;
    width: $ancho1;
    background-repeat: initial;
    background-size: contain;
}

@mixin sizes ($height, $width) {
    height: $height;
    width: $width;
}

header{
    .carousel-inner img{
        background-size: cover;
        background-position: center;
        @include sizes($largo7, $ancho1)
    }
    
    .logoat{
        height: 150px !important;
        width: $ancho3 !important;
        position: relative;
        border-radius: 5px;
    }

    .lavi {
        text-shadow: 0 0 10px #000;
        font-style: italic; 
    }
}

.navbar {
    background-color: $color1;
    color: black;
}
.navbar a {
    color: $color4 !important;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: rgb(8, 95, 51);
}

.navbar-brand:hover {
    background-color: $color1 !important;
}


main{
    height: auto;

    .titulo1 {
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 25px;
        color: $color4;
        background-color: $color1;
    }

    .conte {
        @include sizes($largo9, $ancho1);

        section{
            position: relative;
            @include sizes($largo7, $ancho1);
            margin: auto;
            overflow: hidden;
            border-radius: 7px;
            box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
            cursor: pointer;

            img {
                @include sizes($largo1, $ancho1);
                transition: all 500ms ease-out;
            }
        
            .nleft {
                position: absolute;
                @include sizes($largo1, $ancho1);
                top: 0%;
                background: rgba(12,103,123,0.7);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
        }
        section:hover > .nleft { 
            opacity: 1;
            visibility: visible;
        }
    }

    .actividades {
        align-items: center;
        width: 95%;
    }

    $colores: (
        colo1: rgb(94, 172, 109),
        colo2: rgb(54, 113, 69),
        colo3: rgb(94, 172, 109),
        colo4: rgb(54, 113, 69),
    );

    @each $colo, $font in $colores {
        .act--#{$colo} {
            color: $color4;
            height: auto;
            width: auto;
            padding: 20px; 
            margin: 15px;
            background-color: $font;
            border-radius: 5px; 
        }
    }

    .titulosn {
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
        height: 40px;
        font-size: 30px;
        border-radius: 7px;
        border: 5px solid $color4;
    }
    
    .titulosnosotros {
        background-image: linear-gradient(to top, $color4 , $color3, $color2);
        @extend .titulosn;
    }

    .titulosnosotros:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }

    .nosotros-fila {

        .card {
            width: $ancho4; 
            text-align: center;
            margin: auto;
            margin-top: 10px;
        
            .card-img-top {
                @include sizes($largo7, $ancho4);
                border: 5px solid $color4;
            }
            
            .card-img-top:hover {
                transform: scale(1.2);
                transition: all 0.5s;
                cursor: pointer;
            }
        }
    }
    
    .titulosnosotros1 {
        background-image: linear-gradient(to top, $color4 , $color3 , $color1);
        @extend .titulosn;
    }
    
    .titulosnosotros1:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .titulosnosotros2 {
        background-image: linear-gradient(to top, $color4 , $color3 , $color6);
        @extend .titulosn;
    }
    
    .titulosnosotros2:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }

    .galeriaservicios{
        display: grid;
        @include sizes(900px, $ancho1);
        padding: 20px;
        color: $color4;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px 0% ;
        box-sizing: border-box;
        grid-template-areas: 
        "futbol" 
        "tenis"
        "natacion" 
        "training"
        "texto";
        
        .imgservicios {
            position: relative;
            background-position: center;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            img {
                @include sizes($largo1,$ancho1);
                transition: all 500ms ease-out;
            }
        }

        .futbol{
            grid-area: futbol;
            height: $largo5;
            border: 2px solid #000;
            border-radius: 20px;
            @extend .imgservicios;

            a .servi{
                position: absolute;
                @include sizes($largo1,$ancho1);
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30px;
                top: 0%;
                padding-top: 5%;
                background: rgba(12,103,123,0.7);
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
        }

        .futbol:hover > a .servi { 
            cursor: pointer;
            opacity: 1;
            visibility: visible;
        }

        .tenis{
            grid-area: tenis;
            height: $largo5;
            border-radius: 20px;
            border: 2px solid #000;
            @extend .imgservicios;

            a .servi{
                position: absolute;
                @include sizes($largo1,$ancho1);
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30px;
                top: 0%;
                padding-top: 5%;
                background: rgba(193, 243, 185, 0.7);
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
        }
        
        .tenis:hover > a .servi{
            opacity: 1;
            visibility: visible;
            cursor: pointer;
        
        }
        
        .natacion{
            grid-area: natacion;
            height: $largo5;
            border-radius: 20px;
            border: 2px solid #000;
            @extend .imgservicios;

            a .servi{
                position: absolute;
                @include sizes($largo1,$ancho1);
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30px;
                top: 0%;
                padding-top: 5%;
                background: rgba(232, 244, 105, 0.7);
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
        }
        
        .natacion:hover > a .servi{
            opacity: 1;
            visibility: visible;
            cursor: pointer;
        
        }
        
        .training{
            grid-area: training;
            height: $largo5;
            border-radius: 20px;
            border: 2px solid #000;
            @extend .imgservicios;

            a .servi{
                position: absolute;
                @include sizes($largo1,$ancho1);
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30px;
                top: 0%;
                padding-top: 5%;
                background: rgba(244, 105, 105, 0.7);
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
        }
        
        .training:hover > a .servi{
            opacity: 1;
            visibility: visible;
            cursor: pointer;
        
        }
        
        .texto {
            grid-area: texto;
            width: $ancho1;
            height: 55px;
            text-align: center;
            background-image: linear-gradient(to right, $color1, $color3, $color4 );
            border-radius: 15px;
        }
        
        .texto a{
            font-weight: bold;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 40px;
            color: $color1;
            background-color: gainsboro;
            border-radius: 15px;
            text-decoration: none;
        }
        
        .texto:hover {
            transform: scale(1.2);
            transition: all 0.5s;
            cursor: pointer;
        }
    }

    .modal1 {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        background-color: #111111bd;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }

    .modal--show{
        opacity: 1;
        pointer-events: unset;
        transition: opacity .6s;
    }

    .modal__container {
        margin: auto;
        width: 90%;
        max-width: 600px;
        max-height: 90%;
        border-radius: 6px;
        padding: 30px;
        background-color: white;
        display: grid;
        gap: 10px;
        place-items: center;
        grid-auto-columns: 100%;
    }

    .modal__tittle {
        font-size: 35px;
        color: #000;
    }

    .modal__img {
        width: 90%;
        max-width: 300px;

    }

    .modal__close{
        text-decoration: none;
        color: #fff;
        background-color: #f62250;
        padding: 16px 50px;
        border:1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 300;
        transition: background-color .3s;
    }

    .modal__close:hover{
        color: #f62250;
        background-color: #fff;
    }
    .crtbarrios {
        @include sizes($largo6, $ancho1); 
        border: 5px solid $color1;
        border-radius: 10px;
        background-position: center;
        
        img {
            @include sizes($largo1,$ancho1);
        }
    }

    .barrios {
        display: grid;
        @include sizes(1450px, $ancho1);
        box-sizing: border-box;;
        padding: 10px;
        gap: 3% 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "altos" "riberas" 
        "solares" "docta" 
        "sietesoles" "patagonia" 
        "bosque" "livette" 
        "cañuelas" "delicias"
        "prados" "cuesta";

        .hover {
            transform: scale(1.1);
            transition: all 0.5s;
            cursor: pointer;
        }

        .altos {
            grid-area: altos;
            grid-column: 1/2;
            grid-row: 1/2;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            @extend .crtbarrios;
        }

        .altos:hover {
            @extend .hover;
        }

        .riberas {
            grid-area: riberas;
            grid-column: 1/2;
            grid-row: 2/3;
            @extend .crtbarrios;
        }

        .riberas:hover {
            @extend .hover;
        }

        .solares {
            grid-area: solares;
            grid-column: 2/3;
            grid-row: 1/2;
            @extend .crtbarrios;
        }

        .solares:hover {
            @extend .hover;
        }

        .docta {
            grid-area: docta;
            grid-column: 2/3;
            grid-row: 2/3;
            @extend .crtbarrios;
        }

        .docta:hover {
            @extend .hover;
        }

        .sietesoles {
            grid-area: sietesoles;
            grid-column: 1/2;
            grid-row: 3/4;
            @extend .crtbarrios;
        }

        .sietesoles:hover {
            @extend .hover;
        }

        .patagonia {
            grid-area: patagonia;
            grid-column: 2/3;
            grid-row: 3/4;
            @extend .crtbarrios;
        }

        .patagonia:hover {
            @extend .hover;
        }

        .bosque {
            grid-area: bosque;
            grid-column: 1/2;
            grid-row: 4/5;
            @extend .crtbarrios;
        }

        .bosque:hover {
            @extend .hover;
        }

        .livette {
            grid-area: livette;
            grid-column: 2/3;
            grid-row: 4/5;
            @extend .crtbarrios;
        }

        .livette:hover {
            @extend .hover;
        }

        .cañuelas {
            grid-area: cañuelas;
            grid-column: 1/2;
            grid-row: 5/6;
            @extend .crtbarrios;
        }

        .cañuelas:hover {
            @extend .hover;
        }

        .delicias {
            grid-area: delicias;
            grid-column: 2/3;
            grid-row: 5/6;
            @extend .crtbarrios;
        }

        .delicias:hover {
            @extend .hover;
        }

        .prados {
            grid-area: prados;
            grid-column: 1/2;
            grid-row: 6/7;
            @extend .crtbarrios;
        }

        .prados:hover {
            @extend .hover;
        }

        .cuesta {
            grid-area: cuesta;
            grid-column: 2/3;
            grid-row: 6/7;
            @extend .crtbarrios;
        }

        .cuesta:hover {
            @extend .hover;
        }
    }

    .mapa {
        width: $ancho1;
        padding: 20px;
        border: 3px solid $color1;
    }

    .fondocontact {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .consulta {
        margin-top: 20px;
        padding: 10px;
        font-size: 25px;
        background-image: linear-gradient(to top, $color4, $color3, $color1);
    }
    
    
    .trabajanosotros{
        margin-top: 20px;
        padding: 10px;
        font-size: 25px;
        background-image: linear-gradient(to top, $color4, $color3, $color1);
    }
}

footer{

    .foter {
        @include sizes($largo6, auto);
        margin-top: 10px;
        box-sizing: border-box;
        color: $color4;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        line-height: 2;
        
        .acercade div a{
            color: $color4;
        }
        
        .ayuda{
            padding-left: 90px;
        }
        .ayuda div a{
            color: $color4;
        }
        
        .redes{
            display: grid; 
            grid-template-columns: 70px 70px; 
            grid-template-rows: 50px 50px 50px; 
            gap: 0px 0px; 
            justify-content: center;
            grid-template-areas:
            "facebook instagram whatsapp"
            "email email email";
            .facebook{
                grid-area: facebook;
            }
            
            .instagram{
                grid-area: instagram;
            }
            
            .whatsapp{
                grid-area: whatsapp;
            }
            
            .email{
                grid-area: email;
            }
            .email a {
                color: $color4;
            }
            
            footer a img {
                margin-left: 20px;
                margin-right: 10px;
            }
        }
    }
}


@media only screen and (max-width: 360px) {

header{
    .carousel-inner img {
        height: $largo5;
    }
    .logoat{
        height: 100px !important;
        width: 100px !important;
    }
    .lavi{
        display: none;
    }
}

.navbar {
    height: $largo5;
}

main{
    .titulo1 {
        font-size: 20px;
    }
    .conte {
        height: 350px;

        section {
            height: $largo7 !important;
            width: 340px !important;
            margin-top: 0px !important;

            .nleft{
                
                h3 {
                    padding-top: 20px; 
                }
            }
        }
    }

    .act--colo1 , .act--colo2 , .act--colo3, .act--colo4 {
        h3{
            font-size: 20px;
        }
        p {
            font-size: 15px;
        }
        
    }
    .btn {
        @include sizes(35px, $ancho2);
    }

    .losnosotros1 {
        height: auto;
    }
}

footer{
    .acercade{
        display: none;
        }
        
    .ayuda {
        display: none;
    }
        
    .foter {
        height: $largo4;
    }
}
}

@media only screen and (min-width: 360px) and (max-width: 600px) {

header{
    width: $ancho1; 

    .carousel-inner img{
        height: $largo6;
    }

    .logoat{
        height: 120px !important;
        width: 120px !important;
    }

    .lavi {
        display: none;
    }
}

main {
    align-items: center;

    .conte {
        height: 350px;

        section {
            height: $largo7 !important;
            width: 90% !important;
            margin-top: 0px !important;

            .nleft{

                h3 {
                    padding-top: 40px; 
                }
            }
        }
    }

    .act--colo1 , .act--colo2 , .act--colo3, .act--colo4 {

        h3{
            font-size: 20px;
        }
        p {
            font-size: 15px;
        }
        
    }

    .btn {
        @include sizes(35px,$ancho2);
    }

    .titulosnosotros1 {
        height: auto;
    }
}
footer{

    .acercade{
        display: none;
        }
        
    .ayuda {
        display: none;
    }
    
    .redes{
        width: $ancho1;
        padding: auto;
    }
}
}

@media only screen and (min-width: 500px) {
main {
    .galeriaservicios {
        grid-template-columns: 45% 10% 45% ;
        grid-template-rows: 45% 10% 45%;
        gap: 0% 0%;
        padding: 10px;
        grid-template-areas: 
        "futbol . tenis"
        "texto texto texto"
        "natacion . training";
        
        .futbol {
            height: $largo7;
        }
        
        .tenis {
            height: $largo7;
        }
        
        .natacion {
            margin-top: 80px;
            height: $largo7;
        }
        
        .training {
            margin-top: 80px;
            height: $largo7;
        }
        
        .texto {
            margin-bottom: 10px;
            margin-top: 10px;
            height: 70px;
        }
        .texto a{
            font-size: $largo3;
            height: $largo3;
        }
        
        footer {
            width: $ancho1;
        }
    }
}
}
    

@media only screen and (min-width:500px) and (max-width:700px) {
footer{
    .acercade{
        font-size: 13px;
    }
    
    .ayuda {
        font-size: 13px;
    }
    
    .email {
        font-size: 13px;
        margin-left: 20px;
    }
}
}

@media only screen and (min-width: 600px) {

header {
    width: $ancho1;
    background-image: url(../Multimedia/integrantesat.jpg);
    background-position: center;
    background-attachment: fixed;

    .lavi { 
        font-size: 25px;
    }
}

main {
    .conte {

        section {
            height: 450px !important;
            width: 90% !important;

            .nleft{

                h3 {
                    padding-top: 80px; 
                }
            }
        }
    }

    .card {
        margin: 10px;
        height: 470px;

        .card-img-top{
            height: $largo7;
            border: 5px solid $color4;
        }
    }

    .barrios {
        height: 950px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "altos" "solares" "riberas"
        "docta" "sietesoles" "patagonia"
        "bosque" "livette" "cañuelas"
        "delicias" "prados" "cuesta";

        .altos {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .solares {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .riberas {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .docta {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .sietesoles {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .patagonia {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .bosque {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .livette {
            grid-column: 2/3;
            grid-row: 3/4;
        }
        
        .cañuelas {
            grid-column: 3/4;
            grid-row: 3/4;
        }

        .delicias {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .prados {
            grid-column: 2/3;
            grid-row: 4/5;
        }

        .cuesta {
            grid-column: 3/4;
            grid-row: 4/5;
        }
    }

}
}

@media only screen and (min-width:1000px) {
main {
    .conte{
        margin-left: 80px;
        align-items: center;
        width: 85%;

        .nleft {
            background-position: center;
            height: $largo8;
            width: 700px;
            padding: 20px;
            padding-top: $largo4;
            font-size: 20px;
        }
    }

    .barrios {
        height: 750px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "altos" "solares" "riberas" "docta" 
        "sietesoles" "patagonia" "bosque" "livette"
        "cañuelas" "delicias" "prados" "cuesta";

        .altos {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .solares {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .riberas {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .docta {
            grid-column: 4/5;
            grid-row: 1/2;
        }

        .sietesoles {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .patagonia {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .bosque {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .livette {
            grid-column: 4/5;
            grid-row: 2/3;
        }
        
        .cañuelas {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .delicias {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .prados {
            grid-column: 3/4;
            grid-row: 3/4;
        }

        .cuesta {
            grid-column: 4/5;
            grid-row: 3/4;
        }
    }
}
}
