$color1: green;
$color2: rgb(24, 61, 155);
$color3: gray;
$color4: white;
$color5: pink;
$color6: orange;

$ancho1: 100%;
$ancho2: 100px;
$ancho3: 150px;
$ancho4: 250px;
$largo1: 40px;
$largo2: 50px;
$largo3: 100px;
$largo4: 200px;
$largo5: 300px;
$largo6: 400px;


*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */;
}

body {
    /* height: 100%; */
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
}

@mixin sizes ($height, $width) {
    height: $height;
    width: $width;
}

header{
    .carousel-inner img{
        background-size: cover;
        background-position: center;
        height: $largo5;
        width: $ancho1;
    }
    
    .logoat{
        height: 150px !important;
        width: $ancho3 !important;
        position: relative;
        border-radius: 5px;
    }

    .lavi {
        text-shadow: 0 0 10px #000;
        font-style: italic; 
    }
}

.navbar {
    background-color: $color1;
    color: black;
    /* margin-bottom: 20px; */
}
.navbar a {
    color: $color4 !important;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: rgb(8, 95, 51);
}

.navbar-brand:hover {
    background-color: $color1 !important;
}


main{
    .titulo1 {
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 25px;
        color: $color4;
        background-color: $color1;
    }
    
    .nleft {
        // height: $largo5;
        // width: $ancho1;
        @include sizes ($largo5,$ancho1);
        background-image: url("../Multimedia/Portada AT.png");
        background-position: center;
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 10px;
        /* margin-left: 30px; */
    }
    .nright {
        background-color: $color2;
        margin-top: 10px;
        margin-bottom: 20px;
        color: $color4;
    }

    .nleft:hover { 
        transform: scale(1.05);
        transition: all 0.5s;
    }

    $colores: (
        colo1: rgb(235, 180, 189),
        colo2: rgb(231, 170, 180),
        colo3: rgb(235, 180, 189),
        colo4: rgb(231, 170, 180),
    );

    @each $colo, $font in $colores {
        .act--#{$colo} {
            color: $color4;
            height: auto;
            background-color: $font;
            border-radius: 5px; 
        }
    }

    .titulosn {
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
        height: 40px;
        font-size: 30px;
        border-radius: 7px;
        border: 5px solid $color4;
    }
    
    .titulosnosotros {
        background-image: linear-gradient(to top, $color4 , $color3, $color2);
        @extend .titulosn;
    }

    .titulosnosotros:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }

    .card {
        width: $ancho4; 
        text-align: center;
    
        .card-img-top {
            @include sizes($largo5, $ancho4);
            border: 5px solid $color4;
        }
        
        .card-img-top:hover {
            transform: scale(1.2);
            transition: all 0.5s;
            cursor: pointer;
        }
    }
    
    .titulosnosotros1 {
        background-image: linear-gradient(to top, $color4 , $color3 , $color1);
        @extend .titulosn;
    }
    
    .titulosnosotros1:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .titulosnosotros2 {
        background-image: linear-gradient(to top, $color4 , $color3 , $color6);
        @extend .titulosn;
    }
    
    .titulosnosotros2:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }

    .galeriaservicios{
        display: grid;
        @include sizes(642px, $ancho1);
        background-color: $color3;
        padding: 20px;
        color: $color4;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px 0% ;
        box-sizing: border-box;
        grid-template-areas: 
        "futbol" 
        "tenis"
        "natacion" 
        "training"
        "texto";
        
        .futbol{
            grid-area: futbol;
            height: $largo3;
            border: 2px solid #000;
            border-radius: 20px;
            background-image: url(../Multimedia/Futbol.jpeg);
            background-position: center;
        }

        .futbol:hover { 
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        }

        .tenis{
            grid-area: tenis;
            height: $largo3;
            border-radius: 20px;
            border: 2px solid #000;
            background-image: url(../Multimedia/Tenis.jpg);
            background-position: center;
            box-shadow: 0 0 5px #333;
        }
        
        .tenis:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        
        }
        
        .natacion{
            grid-area: natacion;
            height: $largo3;
            border-radius: 20px;
            border: 2px solid #000;
            background-image: url(../Multimedia/Natacion.jpeg);
            background-position: center;
        }
        
        .natacion:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        
        }
        
        .training{
            grid-area: training;
            height: $largo3;
            border-radius: 20px;
            border: 2px solid #000;
            background-image: url(../Multimedia/Training.jpeg);
            background-position: center;
        }
        
        .training:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        
        }
        
        .texto {
            grid-area: texto;
            width: $ancho1;
            text-align: center;
            background-image: linear-gradient(to right, $color1, $color3, $color4 );
            border-radius: 15px;
        }
        
        .texto a{
            font-weight: bold;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 40px;
            color: $color1;
            background-color: gainsboro;
            border-radius: 15px;
            text-decoration: none;
        }
        
        .texto:hover {
            transform: scale(1.2);
            transition: all 0.5s;
            cursor: pointer;
        }
    }

    .fondocontact {
        background-color: $color3;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .consulta {
        margin-top: 20px;
        padding: 10px;
        font-size: 25px;
        background-image: linear-gradient(to top, $color4, $color3, $color1);
    }
    
    
    .trabajanosotros{
        margin-top: 20px;
        padding: 10px;
        font-size: 25px;
        background-image: linear-gradient(to top, $color4, $color3, $color1);
    }
    
    .nosotros {
        background-color: rgb(168, 166, 166);
    }
}

footer{

    .foter {
        @include sizes($largo4, auto);
        margin-top: 10px;
        background-color: $color2;
        margin-top: 10px;
        box-sizing: border-box;
        color: $color4;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        line-height: 2;
        
        .acercade div a{
            color: $color4;
        }
        
        .ayuda{
            padding-left: 90px;
        }
        .ayuda div a{
            color: $color4;
        }
        
        .redes{
            display: grid; 
            grid-template-columns: 70px 70px; 
            grid-template-rows: 50px 50px 50px; 
            gap: 0px 0px; 
            justify-content: center;
            grid-template-areas:
            "facebook instagram whatsapp"
            "email email email";
            .facebook{
                grid-area: facebook;
            }
            
            .instagram{
                grid-area: instagram;
            }
            
            .whatsapp{
                grid-area: whatsapp;
            }
            
            .email{
                grid-area: email;
            }
            .email a {
                color: $color4;
            }
            
            footer a img {
                margin-left: 20px;
                margin-right: 10px;
            }
        }
    }
}


@media only screen and (max-width: 360px) {
body {
    height: auto;
    margin-bottom: 0%;
}

header{

    .lavi{
        display: none;
    }
}

main{
    .btn {
        @include sizes(35px, $ancho2);
    }
    .card {
        @include sizes(340px, $ancho3);
        margin-top: 10px;
    
        .card-img-top {
            @include sizes($largo4,$ancho3);
            border: 5px solid $color4;
        }
        
        .card-title{
            font-size: 15px;
            padding: auto;
        }
    }
}

footer{
    .acercade{
        display: none;
        }
        
    .ayuda {
        display: none;
    }
        
    .foter {
        height: 120px;
    }
}
}

@media only screen and (min-width: 360px) and (max-width: 600px) {

header{
    width: $ancho1; 
}

main {
    align-items: center;

    .btn {
        @include sizes(35px,$ancho2);
    }

    .card {
        @include sizes(440px, $ancho4);
        margin: 10px;
    }
    
    .card-img-top {
        @include sizes($largo4, $ancho4);
        border: 5px solid $color4;
    }
    
    .card-title{
        font-size: 15px;
        padding: auto;
    }
}
footer{

    .acercade{
        display: none;
        }
        
    .ayuda {
        display: none;
    }
    
    .redes{
        width: $ancho1;
        padding: auto;
    }
}
}


@media only screen and (min-width:470px) and (max-width:575px) {
main{
    .nleft{
        background-image: url("../Multimedia/Portada AT1.png");
    }
}
}

@media only screen and (min-width: 500px) {
main {
    .galeriaservicios {
        grid-template-columns: 40% 20% 40% ;
        grid-template-rows: 40% 20% 40%;
        gap: 0% 0%;
        padding: 20px;
        grid-template-areas: 
        "futbol . tenis"
        "texto texto texto"
        "natacion . training";
        
        .futbol {
            height: $largo4;
        }
        
        .tenis {
            height: $largo4;
        }
        
        .natacion {
            height: $largo4;
        }
        
        .training {
            height: $largo4;
        }
        
        .texto {
            margin-bottom: 40px;
            margin-top: 5px;
            /* transform: scale(1.1); */
        }
        .texto a{
            font-size: $largo2;
            height: $largo2;
        }
        
        footer {
            width: $ancho1;
        }
    }
}
}
    

@media only screen and (min-width:500px) and (max-width:700px) {
footer{
    .acercade{
        font-size: 13px;
    }
    
    .ayuda {
        font-size: 13px;
    }
    
    .email {
        font-size: 13px;
        margin-left: 20px;
    }
}
}

@media only screen and (min-width: 600px) {

header {
    /* height: 220px; */
    width: $ancho1;
    background-image: url(../multimedia/ATfondo.jpg);
    background-position: center;
    background-attachment: fixed;

    .lavi { 
        font-size: 25px;
    }
}

main {
    .card {
        margin: 10px;
        height: 470px;

        .card-img-top{
            height: $largo5;
            border: 5px solid $color4;
        }
    }
}
}

@media only screen and (min-width:800px) {
main{

    .nleft {
        background-image: url("../Multimedia/Portada AT1.png");
    }
}
}
    
@media only screen and (min-width:1000px) {
main{

    .nleft {
        background-position: top;
        height: $largo6;
    }
}
}



