*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */;
}

body {
    /* height: 100%; */
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
}

header{
    // height: auto;

    .carousel-inner img{
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
    }
    
    .logoat{
        height: 150px !important;
        width: 150px !important;
        position: relative;
        border-radius: 5px;
    }

    .lavi {
        text-shadow: 0 0 10px #000;
        font-style: italic; 
    }
}

.navbar {
    background-color: green;
    color: black;
    /* margin-bottom: 20px; */
}
.navbar a {
    color: white !important;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: rgb(8, 95, 51);
}

.navbar-brand:hover {
    background-color: green !important;
}


main{
    .titulo1 {
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 25px;
        color: white;
        background-color: green;
    }
    
    .nleft {
        height: 300px;
        width: 100%;
        background-image: url("../Multimedia/Portada AT.png");
        background-position: center;
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 10px;
        /* margin-left: 30px; */
    }
    .nright {
        background-color: rgb(24, 61, 155);
        /* height: 300px; */
        /* padding: 30px; */
        margin-top: 10px;
        margin-bottom: 20px;
        color: white;
    }

    .nleft:hover { 
        transform: scale(1.05);
        transition: all 0.5s;
    }
    .actividades {
        background-color: pink;
        color: white;
        height: auto;
    }

    .titulosnosotros {
        background-image: linear-gradient(to top, white , gray, rgb(60, 60, 216));
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
        height: 40px;
        font-size: 30px;
        border-radius: 7px;
        border: 5px solid white;
    }

    .card {
        width: 250px; 
        text-align: center;
    
        .card-img-top {
            height: 300px;
            width: 250px;
            border: 5px solid white;
        }
        
        .card-img-top:hover {
            transform: scale(1.2);
            transition: all 0.5s;
            cursor: pointer;
        }
    
    }
    
    .titulosnosotros:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .titulosnosotros1 {
        background-image: linear-gradient(to top, white , gray, green);
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
        height: 40px;
        font-size: 30px;
        border-radius: 7px;
        border: 5px solid white;

        .card {
            width: 250px;
        
            .card-img-top {
                height: 300px;
                width: 250px;
                border: 5px solid white;
            }
            
            .card-img-top:hover {
                transform: scale(1.2);
                transition: all 0.5s;
                cursor: pointer;
            }
        }
    }
    
    .titulosnosotros1:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .titulosnosotros2 {
        background-image: linear-gradient(to top, white , gray, orange);
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
        height: 40px;
        font-size: 30px;
        border-radius: 7px;
        border: 5px solid white;

        .card {
            width: 250px;
        
            .card-img-top {
                height: 300px;
                width: 250px;
                border: 5px solid white;
            }
            
            .card-img-top:hover {
                transform: scale(1.2);
                transition: all 0.5s;
                cursor: pointer;
            }
        }
    }
    
    .titulosnosotros2:hover {
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }

    .galeriaservicios{
        display: grid;
        height: 642px;
        width: 100%;
        background-color: gray;
        padding: 20px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px 0% ;
        box-sizing: border-box;
        grid-template-areas: 
        "futbol" 
        "tenis"
        "natacion" 
        "training"
        "texto";
        
        .futbol{
            grid-area: futbol;
            height: 100px;
            border: 2px solid #000;
            border-radius: 20px;
            background-image: url(../Multimedia/Futbol.jpeg);
            background-position: center;
        }

        .futbol:hover { 
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        }

        .tenis{
            grid-area: tenis;
            height: 100px;
            border-radius: 20px;
            border: 2px solid #000;
            background-image: url(../Multimedia/Tenis.jpg);
            background-position: center;
            box-shadow: 0 0 5px #333;
        }
        
        .tenis:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        
        }
        
        .natacion{
            grid-area: natacion;
            height: 100px;
            border-radius: 20px;
            border: 2px solid #000;
            background-image: url(../Multimedia/Natacion.jpeg);
            background-position: center;
        }
        
        .natacion:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        
        }
        
        .training{
            grid-area: training;
            height: 100px;
            border-radius: 20px;
            border: 2px solid #000;
            background-image: url(../Multimedia/Training.jpeg);
            background-position: center;
        }
        
        .training:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        
        }
        
        .texto {
            grid-area: texto;
            width: 100%;
            text-align: center;
            background-image: linear-gradient(to right, green, gray, white );
            border-radius: 15px;
        }
        
        .texto a{
            font-weight: bold;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 40px;
            color: green;
            background-color: gainsboro;
            border-radius: 15px;
            text-decoration: none;
        }
        
        .texto:hover {
            transform: scale(1.2);
            transition: all 0.5s;
            cursor: pointer;
        }
    }

    .fondocontact {
        background-color: gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .consulta {
        margin-top: 20px;
        padding: 10px;
        font-size: 25px;
        background-image: linear-gradient(to top, white, gray, green);
    }
    
    
    .trabajanosotros{
        margin-top: 20px;
        padding: 10px;
        font-size: 25px;
        background-image: linear-gradient(to top, white, gray, green);
    }
    
    .nosotros {
        background-color: rgb(168, 166, 166);
    }
}

footer{

    .foter {
        height: 200px;
        margin-top: 10px;
        background-color: rgb(24, 61, 155);
        margin-top: 10px;
        box-sizing: border-box;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        line-height: 2;
        
        .acercade div a{
            color: white;
        }
        
        .ayuda{
            padding-left: 90px;
        }
        .ayuda div a{
            color: white;
        }
        
        .redes{
            display: grid; 
            grid-template-columns: 70px 70px; 
            grid-template-rows: 50px 50px 50px; 
            gap: 0px 0px; 
            justify-content: center;
            grid-template-areas:
            "facebook instagram whatsapp"
            "email email email";
            .facebook{
                grid-area: facebook;
            }
            
            .instagram{
                grid-area: instagram;
            }
            
            .whatsapp{
                grid-area: whatsapp;
            }
            
            .email{
                grid-area: email;
            }
            .email a {
                color: white;
            }
            
            footer a img {
                margin-left: 20px;
                margin-right: 10px;
            }
        }
    }
}


@media only screen and (max-width: 360px) {
body {
    height: auto;
    margin-bottom: 0%;
}

header{

    .lavi{
        display: none;
    }
}

main{
    .btn {
        height: 35px;
        width: 100px;
    }
    .card {
        height: 340px;
        width: 150px;
        margin-top: 10px;
    
        .card-img-top {
            height: 200px;
            width: 150px;
            border: 5px solid white;
        }
        
        .card-title{
            font-size: 15px;
            padding: auto;
        }
    }
}

footer{
    .acercade{
        display: none;
        }
        
    .ayuda {
        display: none;
    }
        
    .foter {
        height: 120px;
    }
}
}

@media only screen and (min-width: 360px) and (max-width: 600px) {

header{
    width: 100%; 
}

main {
    align-items: center;

    .btn {
        height: 35px;
        width: 100px;
    }

    .card {
        height: 440px;
        width: 250px;
        margin: 10px;
    }
    
    .card-img-top {
        height: 200px;
        width: 250px;
        border: 5px solid white;
    }
    
    .card-title{
        font-size: 15px;
        padding: auto;
    }
}
footer{

    .acercade{
        display: none;
        }
        
    .ayuda {
        display: none;
    }
    
    .redes{
        width: 100%;
        padding: auto;
    }
}
}


@media only screen and (min-width:470px) and (max-width:575px) {
main{
    .nleft{
        background-image: url("../Multimedia/Portada AT1.png");
    }
}
}

@media only screen and (min-width: 500px) {
main {
    .galeriaservicios {
        grid-template-columns: 40% 20% 40% ;
        grid-template-rows: 40% 20% 40%;
        gap: 0% 0%;
        padding: 20px;
        grid-template-areas: 
        "futbol . tenis"
        "texto texto texto"
        "natacion . training";
        
        .futbol {
            height: 200px;
        }
        
        .tenis {
            height: 200px;
        }
        
        .natacion {
            height: 200px;
        }
        
        .training {
            height: 200px;
        }
        
        .texto {
            margin-bottom: 40px;
            margin-top: 5px;
            /* transform: scale(1.1); */
        }
        .texto a{
            font-size: 50px;
            height: 50px;
        }
        
        footer {
            width: 100%;
        }
    }
}
}
    

@media only screen and (min-width:500px) and (max-width:700px) {
footer{
    .acercade{
        font-size: 13px;
    }
    
    .ayuda {
        font-size: 13px;
    }
    
    .email {
        font-size: 13px;
        margin-left: 20px;
    }
}
}

@media only screen and (min-width: 600px) {

header {
    /* height: 220px; */
    width: 100%;
    background-image: url(../multimedia/ATfondo.jpg);
    background-position: center;
    background-attachment: fixed;

    .lavi { 
        font-size: 25px;
    }
}

main {
    .card {
        margin: 10px;
        height: 470px;

        .card-img-top{
            height: 300px;
            border: 5px solid white;
        }
    }
}
}

@media only screen and (min-width:800px) {
main{

    .nleft {
        background-image: url("../Multimedia/Portada AT1.png");
    }
}
}
    
@media only screen and (min-width:1000px) {
main{

    .nleft {
        background-position: top;
        height: 400px;
    }
}
}



